{{#if id}}
	<div class="header-title">
		<p>Conversation with <em>{{requested_by}}</em></p>
	</div>
	<div class="header-details">
		<p>Details</p>
	</div>
{{else}}
	<div class="header-blank">
		<p>{{count}} conversations</p>
	</div>
{{/if}}
