<div class="main-container">
	{{#if id}}
		<div class="main-content">
			{{#each transcript}}
				<div class="main-message">
					<p class="time">{{timestamp date}}</p>
					{{!-- check if it's an identified user --}}
					{{#if id}}
						<p class="sender">
							{{#if alias}}
								{{id}} <span>({{alias}})</span>
							{{else}}
								{{id}}
							{{/if}}
						</p>
					{{else}}
						<p class="sender foreign">
							{{../../requested_by}}
						</p>
					{{/if}}
					<p>{{message}}</p>
				</div>
			{{else}}
				<div class="main-message">
					<p class="time">{{timestamp created_at}}</p>
					<p class="sender foreign">
						{{requested_by}}
					</p>
					<p>{{description}}</p>
				</div>
			{{/each}}
		</div>
		<div class="main-side">
			<ul>
				<li><b>Type</b>: {{type}}</li>
				<li><b>Description</b>: {{description}}</li>
				<li><b>Created at</b>: {{timestamp created_at}}</li>
				<li><b>IP Address</b>: {{ip_address}}</li>
				<li><b>User Agent</b>: {{user_agent}}</li>
				<li><b>Location</b>: {{city}}, {{region}}, {{country}}</li>
				<li><b>GPS</b>: {{latitude}}, {{longitude}}</li>
				<li><b>Waiting Time</b>: {{chat_waittime}}s</li>
				<li><b>Chat Duration</b>: {{chat_duration}}s</li>
				{{#if survey_score}}<li><b>Survey Score</b>: {{survey_score}}</li>{{/if}}
				<li><b>Language Code</b>: {{language_code}}</li>
				<li class="cut-off"><b>Page URL</b>: <a href="{{page_url}}">{{page_url}}</a></li>
				{{#if referrer_url}}<li class="cut-off"><b>Referrer URL</b>: <a href="{{referrer_url}}">{{referrer_url}}</a></li>{{/if}}
				<li class="cut-off"><b>Entry URL</b>: <a href="{{entry_url}}">{{entry_url}}</a></li>
			</ul>
		</div>
	{{else}}
		<div class="center">
			<h1 class="main-bg">@</h1>
			<p>Select a conversation</p>
		</div>
	{{/if}}
</div>
