@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: var(--body-weight);
  src: local('Roboto Light'), local('Roboto-Light'), url('./fonts/Roboto_Light.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: var(--heavy-weight);
  src: local('Roboto Bold'), local('Roboto-Bold'), url('./fonts/Roboto_Bold.woff') format('woff');
}
