body > header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: calc(var(--header-height) + var(--trim-height) + 1px);
	line-height: var(--header-height);
	background-color: #fff;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
	border-bottom: 1px #bbb solid;
	min-width: var(--page-min-width);
	z-index: 1000;
}

body > header:before {
	content: ' ';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: var(--trim-height);
	background-color: #8AA1FF;
}

.header-logo {
	height: calc(var(--header-height) + var(--trim-height) + 1px);
	width: calc(var(--sidebar-width));
	padding: 0 var(--gutter-width);
	border-top: var(--trim-height) transparent solid;
	cursor: pointer;
	float: left;
}

.header-logo h1 {
	line-height: calc(var(--header-height) * 5 / 6);
	font-size: calc(1em * 6 / 5);
	pointer-events: none;
}

.header-sink:after {
	content: ' ';
	display: block;
	clear: both;
}

.header-blank {
	border-top: var(--trim-height) transparent solid;
	float: right;
	padding: 0 var(--gutter-width);
}

.header-title {
	border-top: var(--trim-height) transparent solid;
	float: left;
	padding: 0 var(--gutter-width);
}

.header-details {
	position: relative;
	z-index: 1000;
	border-top: var(--trim-height) #4861C7 solid;
	float: right;
	width: var(--sidebar-width);
	padding: 0 var(--gutter-width);
}

.header-details:before {
	content: ' ';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 1px;
	height: 100%;
	background-color: #bbb;
}
