.main-container {
	position: absolute;
	top: calc(var(--header-height) + var(--trim-height) + 1px);
	left: var(--sidebar-width);
	width: calc(100% - var(--sidebar-width));
	height: calc(100% - var(--header-height) - var(--trim-height) - 1px);
	transform-style: preserve-3d;
}


.main-container:after {
	content: ' ';
	display: table;
	clear: both;
}


.center {
	display: block;
	text-align: center;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}


.main-bg {
	font-size: 6em;
	font-weight: var(--heavy-weight);
	color: var(--color-border);
	pointer-events: none;
	line-height: var(--line-height);
	position: relative;
	margin-top: calc(1em * -2 / 6);
	top: calc(1em * -1 / 6);
}


.main-content {
	padding: var(--line-height) var(--gutter-width);
	width: calc(100% - var(--sidebar-width));
	float: left;
}


.main-side {
	padding: var(--line-height) var(--gutter-width);
	width: var(--sidebar-width);
	float: right;
	color: var(--color-secondary);
}


.main-side a {
	color: #8AA1FF;
}


.main-side ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.main-side .cut-off {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}


.main-message {
	background-color: #eee;
	border-radius: 3px;
	margin: 0 0 var(--line-height);
	padding: calc(var(--line-height) * 2 / 3) calc(var(--gutter-width) * 3 / 4);
	border-bottom: 1px #ccc solid;
}


.main-message .sender {
	font-weight: var(--heavy-weight);
	color: #4861C7;
}


.main-message .sender span {
	font-weight: var(--body-weight);
}


.main-message .sender.foreign {
	color: #C95D38;
}


.main-message .time {
	color: var(--color-tertiary);
	float: right;
}
