* {
	box-sizing: border-box;
}


html, body, main, .main-sink {
	height: 100%;
}


body {
	font-family: var(--body-type);
	font-size: var(--body-size);
	font-weight: var(--body-weight);
	line-height: var(--line-height);
	color: var(--color-primary);
	background-color: #ddd;
}


a {
	color: inherit;
	text-decoration: none;
}


h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-size: 1em;
	font-weight: var(--heavy-weight);
}


p {
	margin: 0;
}


main {
	min-width: var(--page-min-width);
	position: relative;
}
