main > aside {
	position: fixed;
	background-color: #2B2F40;
	width: var(--sidebar-width);
	height: 100%;
	top: 0;
	left: 0;
	overflow: auto;
	transition: left var(--move-speed) ease;
	z-index: 1001;
}

main > aside:after {
	content: ' ';
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	width: 5px;
	height: 100%;
	background: linear-gradient(to left, var(--color-tertiary), rgba(0, 0, 0, 0));
}

main > aside.hidden {
	left: calc(var(--sidebar-width) * -1);
}

main > aside .header-logo {
	color: var(--color-alt-primary);
	position: relative;
	border-top: var(--trim-height) var(--color-tertiary) solid;
	border-bottom: 1px var(--color-secondary) solid;
	background: linear-gradient(to top,
		rgba(255, 255, 255, 0.04),
		rgba(255, 255, 255, 0.16));
	text-shadow: 0 -1px 0 var(--color-primary);
}

main > aside .header-logo:after {
	content: ' ';
	display: block;
	width: 100%;
	height: 1px;
	border-top: 1px var(--color-secondary) solid;
	background-color: var(--color-alt-border);
	position: absolute;
	top: -1px;
	left: 0;
}

.sidebar-sink {
	position: absolute;
	overflow: auto;
	height: calc(100% - var(--header-height) - var(--trim-height) - 1px);
	width: 100%;
	bottom: 0;
	left: 0;
}

.sidebar-item {
	position: relative;
	border-top: var(--color-alt-border) 1px solid;
	border-bottom: var(--color-tertiary) 1px solid;
	padding: calc(var(--line-height) * 3 / 4) calc(var(--gutter-width) * 1);
	color: var(--color-alt-secondary);
	text-shadow: 0 1px 0 var(--color-primary);
	cursor: pointer;
	transition: all var(--fade-speed) ease;
}

.sidebar-item * {
	pointer-events: none;
}

.sidebar-item h3 {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.sidebar-item p {
	font-size: calc(var(--body-size) * 4 / 5);
}

.sidebar-item .time {
	color: var(--color-alt-tertiary);
	transition: all var(--fade-speed) ease;
}

.sidebar-item:last-of-type:after {
	content: ' ';
	display: block;
	width: 100%;
	height: 1px;
	background-color: var(--color-alt-border);
	position: absolute;
	bottom: -2px;
	left: 0;
}

.sidebar-item.active {
	background-color: rgba(255, 255, 255, 0.04);
	color: var(--color-alt-primary);
}

.sidebar-item:before {
	content: ' ';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: var(--trim-height);
	height: 100%;
	background-color: #8AA1FF;
	opacity: 0;
	transition: all var(--fade-speed) ease;
}

.sidebar-item.active:before {
	opacity: 1;
}

.sidebar-item.active .time {
	color: var(--color-alt-secondary);
}

.sidebar-item:hover {
	color: var(--color-alt-primary);
}

.sidebar-item:hover .time {
	color: var(--color-alt-secondary);
}
