:root {

  /* body text colors */
  --primary-opacity:           0.9;
  --secondary-opacity:         0.55;
  --tertiary-opacity:          0.35;
  --border-opacity:            0.08;

  --main-red:                  0;
  --main-green:                0;
  --main-blue:                 0;

  --alt-red:                   255;
  --alt-green:                 255;
  --alt-blue:                  255;

  --color-primary:             rgba(var(--main-red), var(--main-green), var(--main-blue), var(--primary-opacity));
  --color-secondary:           rgba(var(--main-red), var(--main-green), var(--main-blue), var(--secondary-opacity));
  --color-tertiary:            rgba(var(--main-red), var(--main-green), var(--main-blue), var(--tertiary-opacity));
  --color-border:              rgba(var(--main-red), var(--main-green), var(--main-blue), var(--border-opacity));

  --color-alt-primary:         rgba(var(--alt-red), var(--alt-green), var(--alt-blue), var(--primary-opacity));
  --color-alt-secondary:       rgba(var(--alt-red), var(--alt-green), var(--alt-blue), var(--secondary-opacity));
  --color-alt-tertiary:        rgba(var(--alt-red), var(--alt-green), var(--alt-blue), var(--tertiary-opacity));
  --color-alt-border:          rgba(var(--alt-red), var(--alt-green), var(--alt-blue), var(--border-opacity));


  /* typography */
  --body-type:                 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --body-size:                 15px;
  --body-weight:               300;
  --heavy-weight:              700;


  /* measurements */
  --gutter-width:              1.8em;
  --line-height:               1.5em;
  --sidebar-width:             22em;
  --header-height:             4.6em;
  --trim-height:               5px;
  --page-min-width:            84em;


  /* time */
  --fade-speed:                0.25s;
  --move-speed:                0.5s;

}
